

@import url('https://fonts.googleapis.com/css2?family=Righteous&famili=Sarala:wgt@400;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-size: 100%;
    background-image: url("background.jpg");
    /* Full height */
    height: 100%;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
	background-attachment: fixed;
}

.cabecalho {
    padding: 1px 100px;
	box-sizing: border-box;
}

.cabecalho-imagem {
	margin-top: 10px;
	margin-left: 5vw;
	height: 100px;
	width:150px;
	border-radius: 80px;
	box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.25);
}
nav {
    width:100%;
	height:50px;
	background-color: rgba(195,195,195,.3);
	border-top: 1px solid rgba(255,255,255,.2);
	border-bottom: 1px solid rgba(255,255,255,.2);
	position: sticky;
	top: 0px;
}

nav ul {
	display:flex;
	margin: 0;
	padding: 0 100px;
	float: right;
}

nav ul li a {
	display: block;
    font-family: 'Sarala',sans-serif;
    color: #fffafa;
    font-weight: bold;
    font-size: 15px;
	padding: 0 20px;
	text-transform: uppercase;
	text-decoration:none;
	line-height: 49px;
}

nav ul li a:hover{
	background: rgba(50, 171, 226, 0.7);
}
nav ul li a.active{
	background: rgba(50, 171, 226, 0.7);
}

nav ul li{
	list-style: none;
}

.conteudo {
    margin-bottom: 48px;
    border-top: 1px solid rgba(255,255,255,.2);
	margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.conteudo-principal {
	background-image: url("bgsec1.jpg");
    /* Full height */
	width: 100%;
    height: 100vh;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
	
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.conteudo-principal-escrito {
	align-items:center;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.conteudo-principal-escrito-titulo {
    font-family: 'Righteous', cursive;
    color: #fffafa;
    font-weigth: 400;
    font-size: 64px;
}

.conteudo-principal-escrito-subtitulo {
    font-family: 'Sarala',sans-serif;
    color: #fffafa;
    font-weigth: 400;
    font-size: 24px;
}

.conteudo-principal-escrito-botao {
    background-color: #bfc616;
    width: 180px;
    height: 60px;
    border: none;
    box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    font-family: 'Sarala',sans-serif;
    color: #fffafa;
    font-weigth: 400;
    font-size: 24px;
	transition:all 0.4s;
}

.conteudo-principal-escrito-botao:hover{
	background-color: rgba(0, 0, 0, 0.25);
}

.swiper{
	width:70vw;
}

.card{
	position: relative;
	border-radius: 20px;
	margin: 20px 0;
}

section .card .image{
	height:100%;
	width:100%;
	cursor:pointer;
	padding:10px;
}

section .card .image img{
	height:100%;
	width:100%;
	border-radius:20px;
	transition:all 0.4s;
	opacity: 80%;
}

section .card .image img:hover{
	transform: scale(1.07);
	opacity:100%;
}

.swiper-pagination{
	position:absolute;
}

.swiper-button-next, .swiper-button-prev{
	opacity: 0.7;
	color: #cc0707;
	transition: all 0.3s ease;
}

.swiper-button-next:hover, .swiper-button-prev:hover{
	opacity:1;
	color: #ffffff;
}

.conteudo-secundario {
    background-color: rgba(135, 208, 181, 1.0);
	border-top: 1px solid rgba(255,255,255,.2);
    display: flex;
    flex-direction: column;
    align-items: right;
    gap: 24px;
    margin-top: 48px;
	justify-content: space-around;
}

.conteudo-secundario-titulo {
	margin-left: 5vw;
	margin-top: 48px;
    font-family: 'Righteous', cursive;
    color: #FFFFFF;
    font-weigth: 400;
    font-size: 28px;
}

.conteudo-secundario-passeios {
	display: flex;
	margin-top: 30px;
}

.passeio-destaque1, .passeio-destaque2, .passeio-destaque3, .passeio-destaque4 {
	height: 70vh;
	width: 20vw;
	background-color: rgba(50, 171, 226, 1.0);
	margin-left: 4vw;
	margin-bottom: 40px;
	box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.25);
	border-radius: 10px;
}

.passeio-destaque1 .gruta {
	height: 44vh;
	width: 19vw;
	border-radius: 10px;
	box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.25);
	margin-left: 0.5vw;
	margin-top: 1vh;
}

.passeio-destaque1 .gruta:hover {
	transform: scale(1.07);
	transition: .5s;
}

.passeio-destaque1 .gruta-titulo{
	margin-left: 1vw;
	margin-top: 10px;
	font-family: 'Righteous', cursive;
    color: rgba(255, 255, 255, 1.0);
    font-weigth: 400;
    font-size: 18px;
	font-weigth: 600;
}

.passeio-destaque1 .gruta-roteiro{
	margin-left: 1vw;
	margin-top: 5px;
    font-family: 'Sarala',sans-serif;
    color: rgba(255, 255, 255, 1.0);
    font-weigth: 400;
    font-size: 14px;
}

.passeio-destaque1 .gruta-roteiro-h{
	margin-left: 1vw;
	margin-top: 5px;
    font-family: 'Sarala',sans-serif;
    color: rgba(255, 255, 255, 1.0);
    font-weigth: 400;
    font-size: 16px;
}

.passeio-destaque1 .gruta-info-botton{
	background-color: rgba(255, 255, 255, 1.0);
    width: 10vw;
    height: 5vh;
    border: none;
	margin-left: 5vw;
    box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    font-family: 'Sarala',sans-serif;
    color: rgba(50, 171, 226, 1.0);
    font-weigth: 600;
    font-size: 13px;
	transition:all 0.4s;
	margin-top: 13px;
}

.passeio-destaque1 .gruta-info-botton:hover{
		transform: scale(1.07);
}

/* Destaque 2*/

.passeio-destaque2 .volta-ilha-destaque {
	height: 44vh;
	width: 19vw;
	border-radius: 10px;
	box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.25);
	margin-left: 0.5vw;
	margin-top: 1vh;
}

.passeio-destaque2 .volta-ilha-destaque:hover {
	transform: scale(1.07);
	transition: .5s;
}

.passeio-destaque2 .volta-ilha-destaque-titulo{
	margin-left: 1vw;
	margin-top: 10px;
	font-family: 'Righteous', cursive;
    color: rgba(255, 255, 255, 1.0);
    font-weigth: 400;
    font-size: 18px;
	font-weigth: 600;
}

.passeio-destaque2 .volta-ilha-horario{
	margin-left: 1vw;
	margin-top: 5px;
    font-family: 'Sarala',sans-serif;
    color: rgba(255, 255, 255, 1.0);
    font-weigth: 400;
    font-size: 14px;
}

.passeio-destaque2 .volta-ilha-horario-h{
	margin-left: 1vw;
	margin-top: 5px;
    font-family: 'Sarala',sans-serif;
    color: rgba(255, 255, 255, 1.0);
    font-weigth: 400;
    font-size: 16px;
}

.passeio-destaque2 .volta-ilha-info-botton{
	background-color: rgba(255, 255, 255, 1.0);
    width: 10vw;
    height: 5vh;
    border: none;
	margin-left: 5vw;
    box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    font-family: 'Sarala',sans-serif;
    color: rgba(50, 171, 226, 1.0);
    font-weigth: 600;
    font-size: 13px;
	transition:all 0.4s;
	margin-top: 13px;
}

.passeio-destaque2 .volta-ilha-info-botton:hover{
		transform: scale(1.07);
}

/* Destaque 3*/

.passeio-destaque3 .meia-volta-ilha-destaque {
	height: 44vh;
	width: 19vw;
	border-radius: 10px;
	box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.25);
	margin-left: 0.5vw;
	margin-top: 1vh;
}

.passeio-destaque3 .meia-volta-ilha-destaque:hover {
	transform: scale(1.07);
	transition: .5s;
}

.passeio-destaque3 .meia-volta-ilha-destaque-titulo{
	margin-left: 1vw;
	margin-top: 10px;
	font-family: 'Righteous', cursive;
    color: rgba(255, 255, 255, 1.0);
    font-weigth: 400;
    font-size: 18px;
	font-weigth: 600;
}

.passeio-destaque3 .meia-volta-ilha-horario{
	margin-left: 1vw;
	margin-top: 5px;
    font-family: 'Sarala',sans-serif;
    color: rgba(255, 255, 255, 1.0);
    font-weigth: 400;
    font-size: 14px;
}

.passeio-destaque3 .meia-volta-ilha-horario-h{
	margin-left: 1vw;
	margin-top: 5px;
    font-family: 'Sarala',sans-serif;
    color: rgba(255, 255, 255, 1.0);
    font-weigth: 400;
    font-size: 16px;
}

.passeio-destaque3 .meia-volta-ilha-info-botton{
	background-color: rgba(255, 255, 255, 1.0);
    width: 10vw;
    height: 5vh;
    border: none;
	margin-left: 5vw;
    box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    font-family: 'Sarala',sans-serif;
    color: rgba(50, 171, 226, 1.0);
    font-weigth: 600;
    font-size: 13px;
	transition:all 0.4s;
	margin-top: 13px;
}

.passeio-destaque3 .meia-volta-ilha-info-botton:hover{
		transform: scale(1.07);
}

/* Destaque 4*/

.passeio-destaque4 .ilhas-paradisiacas-destaque {
	height: 44vh;
	width: 19vw;
	border-radius: 10px;
	box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.25);
	margin-left: 0.5vw;
	margin-top: 1vh;
}

.passeio-destaque4 .ilhas-paradisiacas-destaque:hover {
	transform: scale(1.07);
	transition: .5s;
}

.passeio-destaque4 .ilhas-paradisiacas-destaque-titulo{
	margin-left: 1vw;
	margin-top: 10px;
	font-family: 'Righteous', cursive;
    color: rgba(255, 255, 255, 1.0);
    font-weigth: 400;
    font-size: 18px;
	font-weigth: 600;
}

.passeio-destaque4 .ilhas-paradisiacas-horario{
	margin-left: 1vw;
	margin-top: 5px;
    font-family: 'Sarala',sans-serif;
    color: rgba(255, 255, 255, 1.0);
    font-weigth: 400;
    font-size: 14px;
}

.passeio-destaque4 .ilhas-paradisiacas-horario-h{
	margin-left: 1vw;
	margin-top: 5px;
    font-family: 'Sarala',sans-serif;
    color: rgba(255, 255, 255, 1.0);
    font-weigth: 400;
    font-size: 16px;
}

.passeio-destaque4 .ilhas-paradisiacas-info-botton{
	background-color: rgba(255, 255, 255, 1.0);
    width: 10vw;
    height: 5vh;
    border: none;
	margin-left: 5vw;
    box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    font-family: 'Sarala',sans-serif;
    color:rgba(50, 171, 226, 1.0);
    font-weigth: 600;
    font-size: 13px;
	transition:all 0.4s;
	margin-top: 13px;
}

.passeio-destaque4 .ilhas-paradisiacas-info-botton:hover{
		transform: scale(1.07);
}

/*Botão flutunte do whatsapp*/

div#whatasapp {
    position: fixed;
    right: 73px;
    bottom: 10px;
    background: #0d7b00;
    z-index: 999;
    padding: 20px;
    border-radius: 50px;
    transition: .5s;
}

div#whatasapp:hover {
    right: 0;
    bottom: 0;
    border-radius: 140px 0px 0px 0px;
    padding: 70px;
    transition: .5s;
}

/*Fim botão flutuante do whatsapp*/

.rodape {
	background-color: #c5d737;
    border-top: 0.4px solid #fffafa;
    padding: 22px;
}

.rodape-imagem {
    height: 45px;
    width: 220px;
    display: block;
    margin: 0 auto;
}

.rodape-texto {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Righteous', cursive;
    color: #004c5e;
    font-weigth: 400;
    font-size: 32px;
}